/*Général*/

*,
main,
.container-fluid {
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
}

.general
{
    margin: 0;
    padding: 4% 8%;
}


/*polices*/

h1,h2 
{
    font-family: jost, sans-serif;
}

* {
    font-family: roboto, sans-serif;
}

h1 {
    font-size: 4rem;
    font-weight: 600;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-family: roboto, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

p {
    font-size: 16px;
}

a {
    color: #000;
    display: block;
}

/*barre de navigation*/

header {
    background-color: #FC9882;
    color: #000;
    font-family: roboto, sans-serif;
}

.navbar-brand {
    font-family: jost, sans-serif;
    font-weight: 600;
}


/*section accroche*/

.accroche {
    background-image: url('https://images.unsplash.com/photo-1576502200916-3808e07386a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2065&q=80');
    height: 547px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.accroche img {
    width: 180px;
    margin-top: 2%;
}

.fond-blanc {
    background-color: #fff;
}

.accroche h1 {
    padding: 1%;
    margin: 2%;
    margin-top: 4%px;
}

.accroche h2 {
    padding: 1%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 3%;
    font-weight: 500;
    font-size: 2rem;
}

/*Section à propos*/

.about {
    background-color: #c4f4f9;
    flex-wrap: wrap;
}

.about p
{
    font-size: 1.2rem;
}

.bouton1 {
    color: #FF482E;
    background-color: #fff;
    border: 0;
    font-family: roboto, sans-serif;
    font-weight: 800;
    font-size: 24px;
    padding: 8px 16px;
    text-decoration: none;
}

a:hover
{
    color: #000;
}

.photo-about {
    width: 30%;
}

.text-about {
    width: 70%;
}

@media screen and (min-width: 700px) and (max-width: 900px) {
    .photo-about {
        width: 50%;
    }

    .text-about {
        width: 50%;
    }

}

@media screen and (max-width: 700px) {
    .photo-about {
        width: 100%;
    }

    .text-about {
        width: 100%;
    }

}


/*Section compétences*/

.competences h2 {
    background-color: #FFBFA4;
}


.titre-carte {
    background-color: #EFE0E0;
}


.competences i
{
    font-size : 40px;
}

.competences img
{
    width: 40px;
}

.competences h3
{
    margin : 0;
}

.icons{
    width: 60px;
    display: flex;
    justify-content: center;
}
/*Section projets*/

.projets {
    background-color: #FFBFA4;
}

.projets a {
    display: inline;
}

.abtn {
    background-color: #006175;
    color: #fff;
    border: 0;
    border-radius: 0.375rem;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
}

.projets img
{
    object-fit: cover;
    object-position: center;
    border-bottom: rgb(207, 207, 207) 1px solid;
}

/*Section contact*/

.bg-image
{
    background-image: url('https://images.unsplash.com/photo-1576502200916-3808e07386a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2065&q=80');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 8%;
}

.contact {
    padding: 5rem;
    width: 100%;
    background-color: white;
}

@media screen and (max-width: 600px) {
    .contact {
        padding: 1rem;
    }
}

svg {
    color: #0190AC;
}

.contact i
{
    color: #0190AC;
    font-size: 70px;
}


/*Section footer*/

footer {
    background-color: #FC9882;
    color: #000;
}

footer p {
    margin-bottom: 0;
}

/* .pied {
    background-color: #FC9882;
    color: #000000;
} */

/* .pied p {
    margin-bottom: 0;
} */